name: deploy1
on:
  push:
    branches:
      - master
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: corretto
      - name: Install Maven
        uses:  stCarolas/setup-maven@v5
        with:
          maven-version: '3.8.2'
      - name: Build Project
        run: | 
            mvn -B -DskipTests package
      - name: Copy Artefato
        run: |
          cp target/*.jar docker/app.jar
      - name: View Files
        run: |
          ls docker/
